<h1>Innovation Quotient Edge Assessment Test Dump Page</h1>

<p>
  Welcome to the test dump page.</p>
<p></p>
<p>
  Tamara Kleinberg will
  <% if !@password %>
    not
  <% end %>
  receive the test data dump via email.
</p>
<p>
  Oops…If you are here accidentally because you are trying to purchase the
  Innovation Quotient Edge assessment for you, your team, or your clients and the internet
  led you astray, please click
  <a href="https://zh130.infusionsoft.com/app/manageCart/addProduct?productId=35">here</a>.</p>
</p><p><p>
  To contact me (Tamara Kleinberg) or my team, call us at 303.339.0135
</p>
