<h1>Innovation Quotient Edge Assessment Promo License Creation Page</h1>

<p>
  Welcome to the promo license creation page. Please provide information for
  the person <i><u>receiving</u></i> the promotional assessment and your
  personal password.</p>
<p></p>
<p>
  The person receiving the assessment will receive a link to the assessment
  via email.
</p>
<p></p>
<%= render 'id_info' %>
<p>
  Oops…If you are here accidentally because you are trying to purchase the
  Innovation Quotient Edge assessment for you, your team, or your clients and the internet
  led you astray, please click
  <a href="https://zh130.infusionsoft.com/app/manageCart/addProduct?productId=35">here</a>.</p>
</p><p><p>
  To contact me (Tamara Kleinberg) or my team, call us at 303.339.0135
</p>
