<h3>Promo license Sent</h3>

<p>
  Thank you. The unique link (<%= "#{@qtest.license_key}" %>) for the
  Innovation Quotient Edge assessment will be sent to the following person:
</p><p></p>
<p><%= "#{@qtest.first_name} #{@qtest.last_name}: #{@qtest.email}" %></p>
