<h1>Welcome to the Innovation Quotient Edge Assessment!</h1>

<p>
  Hello and welcome to the Innovation Quotient Edge Assessment.
  Please enter your license key below to take the assessment.
</p><p></p><p>

  <%= render 'license_page' %>
