<p></p><p><b>The IQE – Innovation Quotient Edge</b> is the culmination of more
  than 20 years of experience and research working with the most innovative
  people and companies (including Disney, Procter and Gamble, IBM, General
  Mills, Clorox, WhiteWave, RICOH, Children’s Hospital – to name a few)
  plus being in the entrepreneurial trenches, driving growth and innovation
  daily. As a result of these multiple decades of experience, Tamara has
  discovered the key elements that make people and organizations innovative.
<p></p><p>
  Discover which of the 9 triggers of innovation are YOUR power triggers and
  harness your innovative edge!
</p><p></p><p>
  <b>Just 33 questions and 5 minutes to identify your unique Innovation
    Style:</b>
</p><p></p>
<ul>
  <li>See your customized profile in relation to all 9 innovation triggers</li>
  <li>Receive a personalized description of your Power Triggers and Dormant
    Trigger</li>
  <li>Create successful teams with all the <b>types of people you need</b>
    to achieve your goals</li>
  <li>Get your customized action plan, based on your strengths, plus access to
    dozens of tools to continually strengthen the innovative mind</li>
</ul>
<p></p><p>
  Meet the assessment creator, Tamara Kleinberg:
  <div style='margin-left: 1em;'>
    <div class='figure'>
    <%= image_tag('tamarakblueringlookingupbioshot-200x300.jpg',
                  class: 'tamara',
                  alt: 'Tamara Kleinberg') %>
      <p>Tamara Kleinberg</p>
      </div>
</p><p></p><p>
   <font color='orange'>Exceeding The Status Quo </font> From being part of
  the elite group of TED speakers, to completing three (and counting) Tough
  Mudders endurance competitions, Tamara’s life is about breaking through the
  status quo to achieve game-changing results – and that’s what her audiences
  learn how to do, too!
</p><p></p><p>
  <font color='orange'>Ad Agency Whiz Kid </font> At just 27 she was the
  youngest person ever named to a leadership role in a well-known global
  advertising agency. If you’ve walked the aisles of a Target store, you’ve
  pushed your cart past products and brands that have benefited from Tamara’s
  innovative approach – big names including Cheerios and Johnsonville Sausage
  to Procter and Gamble and Clorox. As the driving force behind a global
  innovation and brand strategy firm, Tamara created and delivered new
  revenue streams that helped double revenues and land 'the big dog accounts'
  in just 18 months.
</p><p></p><p>
  <font color='orange'>Innovative Entrepreneur</font>  Tamara is the founder
  of a thriving entrepreneurial business, TheShuuk.com - the testing ground
  for the world’s coolest, new ideas. She knows how to drive growth and
  innovation daily in an ever-changing marketplace. She is passionate about
  sharing innovative ideas and the entrepreneurial mindset so others can
  succeed more often as well. Tamara brings a unique, real world,
  in-the-trenches perspective to all her engagements. With creation of the
  Innovation Quotient Edge, Tamara developed the only tool able to measure
  people’s natural innovation strengths. This knowledge delivers insights and
  processes so others can perform at their peak, bring more innovative ideas
  to the table, become highly valued team members, and create game-changing
  results.
   </p><p></p><p>
  <font color='orange'>Published All Over!</font>  She is the author of two
  nationally published playbooks, including her most recent, Think Sideways:
  A Game-changing Playbook For Disruptive Thinking. For the past 18 years
  Tamara has advised companies such as Disney, General Mills, RICOH, and
  Otterbox. She's worked in industries ranging from health care and the
  library system to consumer goods and high tech bringing insights to
  fostering innovative ideas and people. She has run multi-million dollar
  businesses and launched a few of her own, learning from her successes and,
  most importantly, from her failures. Tamara has been featured on the TODAY
  SHOW, as well as in the
  <%= link_to "New York Times, TODAY Show, Denver Business Journal,
  Kitchen & Bath Magazine, Speakers Magazine, NBC 9News, C2 morning show and
  on radio stations across the country.",
              "http://www.theshuuk.com/shuuk-tamara-kleinberg-in-the-news/",
              :target => "_blank" %>
  As a kid in computer camp she won the
  “I’ll try anything once” Award—a motto she still lives by today.
  </div>
