<h2>Want to build a high performance team?</h2>
<h3>Have your team, department or organization take the innovation assessment
  so you can:</h3>

<ul>
  <li>Gain a rich understanding of your unique
    <b>organizational thumbprint</b></li>
  <li>Have the right people, doing the right things for
    <b>high-impact results</b></li>
  <li>Make sure you have all the <b>types of people you need</b>
    to achieve your goals</li>
  <li>Empower your people, creating a <b>high-performance team</b></li>
  <li>Improve team <b>engagement and satisfaction</b></li>
</ul>

<h3 align="center"><b>Unique Organizational Thumbprint</b></h3>
<%= image_tag('Innovation Quotient Edge Organizational Thumbprint.png',
              class: 'displayed',
              alt: 'Unique Organizational Thumbprint Slide') %>
<p></p><p>
  If you would like to purchase group assessments and discover your unique
  organizational thumbprint contact Molly Gardner molly@theshuuk.com
  or call 303.339.0135
</p><p></p><p>
  Frequently clients also ask the assessment creator, Tamara Kleinberg, to take
  their team through a custom workshop based on organizational
  thumbprint results. If you are interested in going deeper into what the organizational thumbprint means for your company or team
  please let us know and we’ll be sure to discuss this when we connect.
</p><p></p><p>
  If you are a leader within an organization that values innovative
  thinking and would like to discuss our train-the-trainer program contact
  Molly Gardner molly@theshuuk.com or call 303.339.0135
</p><p></p>

