<h1>IQE: Innovation Quotient Edge Assessment and Report</h1>

<div class="container">
<table border="0">
  <tbody>
  <tr>
    <td><a href="http://www.theshuuk.com/wp-content/uploads/2014/03/man-scribble-yellow-lightbulb-head-750x700.jpg" rel="lightbox[13884]" title="IQE: Innovation Quotient Edge Assessment and Report" class="cboxElement"><img class="aligncenter  wp-image-14222" alt="innovation style innovation quotient top traits innovative people" src="http://www.theshuuk.com/wp-content/uploads/2014/03/man-scribble-yellow-lightbulb-head-750x700.jpg" width="255" height="238"></a></td>
    <td><span style="font-size: small;"><strong>What’s Your Innovation Style?</strong></span><br><span style="font-size: small;">It’s something that can be assessed and measured so you can build on your strengths and stop doing the things you think you should do but aren’t working for you.</span></td>
  </tr>
  </tbody>
</table>

<p style="text-align: left;"><strong></strong><strong>Everyone has a unique innovation style</strong> they can harness to gain the edge. Based on the 9 triggers of innovation, you’ll discover your unique brand of innovation and how to use it to:</p>

<ul>
  <li>Be you, performing at your peak</li>
  <li>Bring more innovative ideas to the table</li>
  <li>Be a high-value member of your team</li>
  <li>Create game-changing results</li>
</ul>

<p>Where on the innovation scale do you land and which of these 9 triggers is your unique combination?</p>

<table border="0">
  <tbody>
  <tr>
    <td style="text-align: center;"><strong>Innovation Scale</strong></td>
    <td style="text-align: center;"><strong>9 Triggers of Innovation</strong></td>
    <td style="text-align: center;">
      <p><strong>Your Unique Innovation Quotient-<br>&nbsp;Style, Strengths &amp; Action Plan<br></strong></p>
    </td>
  </tr>
  <tr>
    <td><%= image_tag('innovation quotient scale.jpg',
                      class: 'displayed',
                      size: '300x225',
                      alt: 'Innovation Quotient Scale') %></td>
    <td><%= image_tag('9 Triggers of Innovation.png',
                      class: 'displayed',
                      size: '300x225',
                      alt: '9 Triggers of Innovation') %></td>
    <td><%= image_tag('innovation quotient edge example report.png',
                      class: 'displayed',
                      size: '300x225',
                      alt: 'IQE Example Report') %><</td>
  </tr>
  </tbody>
</table>

<p>&nbsp;<a href="https://zh130.infusionsoft.com/app/manageCart/addProduct?productId=35" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://zh130.infusionsoft.com']);"><img class="aligncenter" alt="innovation quotient edge buy " src="http://www.theshuuk.com/wp-content/uploads/2014/03/order-button1-300x98.jpg" width="181" height="59"></a></p>

<p>&nbsp;<strong>The IQE – Innovation Quotient Edge</strong> is the culmination of more than 20 years of experience and research working with the most innovative people and companies (including Disney, Procter and Gamble, IBM, General Mills, Clorox, WhiteWave, RICOH, and Children’s Hospital – to name a few) and being in the entrepreneurial trenches, driving growth and innovation daily. Through years of this experience, Tamara has discovered the key elements that make people and organizations innovative.<em><strong></strong></em></p>

<p style="text-align: left;">Find out which of the 9 triggers of innovation&nbsp; are YOUR Power Triggers and harness your Innovative Edge!<em><strong></strong></em></p>

<p style="text-align: left;">&nbsp;<strong>Just 33 questions and 5 minutes later you’ll have your unique Innovation Style:</strong></p>

<ul>
  <li>Your customized profile relative to all 9 triggers of innovation</li>
  <li>A personalized description of your Power Triggers and Dormant Trigger</li>
  <li>Your customized action plan, based on your strengths, plus access to dozens of tools to continually strengthen the innovative mind</li>
</ul>

<p><strong>&nbsp;Want to build a high performance team? Have your team, department or organization take the innovation assessment so you can:</strong></p>

<ul>
  <li>Gain a rich understanding of your unique <strong>organizational thumbprint</strong></li>
  <li>Have the right people, doing the right things for <strong>high-impact results</strong></li>
  <li>Make sure you have all the <strong>types of people you need</strong> to achieve your goals</li>
  <li>Empower your people, creating a<strong> high-performance team</strong></li>
  <li>Improve team <strong>engagement and satisfaction</strong></li>
</ul>

<p><em>If you choose to buy multiple assessments for teams &amp; colleagues,
  we’ll contact you with a unique link for your team. If you would like to
  discuss the custom Innovation webinars and workshops based on your results,
  call us at 303.339.0135<br></em></p>

<table style="width: 595px; height: 124px;" border="0">
  <tbody>
  <tr align="center" valign="middle">
    <td style="text-align: center;" colspan="3">
      <p><strong>Investment</strong></p>
    </td>
    <td style="text-align: center;"><strong>Unique Organizational Thumbprint</strong></td>
  </tr>
  <tr>
    <td style="text-align: center;"><strong>Number of</strong><br><strong>IQE Tests</strong></td>
    <td style="text-align: center;"><strong>$$ Per Test</strong></td>
    <td style="text-align: center;"><strong><strong>Savings</strong></strong></td>
    <td style="text-align: center;" rowspan="5">
      <%= image_tag('Innovation Quotient Edge Organizational Thumbprint.png',
                                                              class: 'displayed',
                                                              alt: 'Unique Organizational Thumbprint Slide') %><br>&nbsp;<p></p>
      <p>&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">1 – 99</td>
    <td style="text-align: center;">$47</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="text-align: center;">100 – 199</td>
    <td style="text-align: center;">$37</td>
    <td style="text-align: center;">20%</td>
  </tr>
  <tr>
    <td style="text-align: center;">200 – 1999</td>
    <td style="text-align: center;">$33</td>
    <td style="text-align: center;">30%</td>
  </tr>
  <tr>
    <td style="text-align: center;">2000 plus</td>
    <td style="text-align: center;">$19</td>
    <td style="text-align: center;">40%</td>
  </tr>
  </tbody>
</table>
</div>

<p style="text-align: center;"><a href="https://zh130.infusionsoft.com/app/manageCart/addProduct?productId=35" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://zh130.infusionsoft.com']);"><img alt="innovation quotient edge buy " src="http://www.theshuuk.com/wp-content/uploads/2014/03/order-button1-300x98.jpg" width="196" height="64"></a></p>

