<h4 class='alert fade in alert-danger alert-dismissable'>The license key you
  provided is a multi-use license where all the licenses have already been used.
  Please check with the person who provided your link to get more licenses.</h4>
