<h1>Innovation Quotient Edge Assessment Promo License Created</h1>

<p>Promo License: <%= @qtest.license_key %> has been sent to:</p>
<p>
  <%= "#{@qtest.first_name} #{@qtest.last_name} <#{@qtest.email}>" %>
</p>
