<!DOCTYPE html>
<html>
<head>
  <meta content='text/html'; charset=UTF-8' http-equiv='Content-Type' ?>
</head>
<body>
<h1>[Your IQE Link] Test Drive Innovation Quotient Edge (IQE)</h1>
<p>
  <%=  @qtest.first_name %>,
</p><p></p><p>
  You are receiving this email because you spoke directly with Tamara or
  someone from her team about taking the Innovation Quotient Edge out for
  a test drive. Vroom…..vroom!
</p><p></p><p>
  Below is your unique link to experience the Innovation Quotient Edge assessment and
  discover your edge! I look forward to seeing your results and discussing
  how the IQE can help…
</p><p></p><p>
  YOU:
</p><p></p>
<ul>
  <li>
    Perform at your peak
  </li>
  <li>
    Bring more innovative ideas to the table
  </li>
  <li>
    Be a high-value team member
  </li>
  <li>
    Create game-changing results
  </li>
</ul>
<p></p><p>
  TEAM/ORGANIZATION:
</p><p></p>
<ul>
  <li>
    Have the right people, doing the right things for high-impact results
  </li>
  <li>
    Ensure your people are bringing more innovative thinking and solutions to the table
  </li>
  <li>
    Empower your people to play to their strengths, increasing their happiness and satisfaction
  </li>
</ul>
<p></p><p>
  Once the results are in (drum roll please), I’ll contact you to discuss your personal results.
</p><p></p><p>
  Click below to discover your edge!
</p><p></p><p>
  Here is the link:
</p>
<p></p>
<p>
  <a href='<%="http://InnovationQuotientTest.com/taketest/#{@qtest.license_key}"%>'><%= "http://InnovationQuotientTest.com/taketest/#{@qtest.license_key}" %></a>
</p>
<p></p>
<p>
  Tamara G. Kleinberg
</p><p>
   Founder & Serial Innovator 
</p><p></p><p>
  303.339.0135   |   tamara@theshuuk.com   |   theshuuk.com
</p><p></p><p>
  <%= image_tag 'Shuuk Logo for email.jpg' %>
</body>
</html>
