<!DOCTYPE html>
<html>
<head>
  <meta content='text/html'; charset=UTF-8' http-equiv='Content-Type' ?>
</head>
<body>
<h1>Innovation Quotient Edge (IQE) Results</h1>
<p></p>
<p>Hello <%= @qtest.first_name %>,
</p><p></p>
<p>
  Congratulations! You are one click away from discovering your unique
  innovation style and strengths.
</p><p></p><p>
  Your results are attached.
</p><p></p><p>
  Re-train your brain!
  Be innovative on demand.
</p><p></p><p>
  Cheers!
</p><p></p><p>
  P.S. – If you know someone who might also want to unleash more innovative
  thinking and ideas, send them this link
  to take the IQE assessment <a href="http://InnovationQuotientTest.com">
  http://InnovationQuotientTest.com</a>.
</p><p></p><p>
  Tamara G. Kleinberg 
</p><p>
  Founder & Serial Innovator 
</p><p></p><p>
  303.339.0135   |   tamara@theshuuk.com   |   theshuuk.com
</p><p></p><p>
  <%= image_tag 'Shuuk Logo for email.jpg' %>
</body>
</html>
